.form_btnregresar {
  margin: 1rem;
}
.btn_audioregresar {
  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(14, 67, 241);
  color: white;
}

.form_btn {
  margin: 1rem;
}
.btn_audio {
  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: turquoise;
}


.form_btnb {
  margin: 1rem;
}
.btn_audiob {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(238, 85, 212);
  color: rgb(231, 20, 238);
}


.form_btnc {
  margin: 1rem;
}
.btn_audioc {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(84, 26, 243);
  color: rgb(231, 20, 238);
}


.form_btnd {
  margin: 1rem;
}
.btn_audiod {
  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(233, 223, 83);
}


.form_btne {
  margin: 1rem;
}
.btn_audioe {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(238, 85, 212);
  color: rgb(153, 8, 158);
}


.form_btnf {
  margin: 1rem;
}
.btn_audiof {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(84, 235, 84);
  color: rgb(231, 20, 238);
}

.form_btng {
  margin: 1rem;
}
.btn_audiog {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(167, 142, 238);
  color: rgb(231, 20, 238);
}

.form_btnh {
  margin: 1rem;
}
.btn_audioh {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(65, 240, 94);
  color: rgb(231, 20, 238);
}

.form_btni {
  margin: 1rem;
}
.btn_audioi {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px rgb(231, 78, 180) #f2f2;
  background: rgb(218, 47, 47);
  color: rgb(231, 20, 238);
}

.form_btnj {
  margin: 1rem;
}
.btn_audioj {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(240, 161, 42);
  color: rgb(231, 20, 238);
}

.form_btnk {
  margin: 1rem;
}
.btn_audiok {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgba(243, 26, 243, 0.76);
  color: rgb(231, 20, 238);
}


.form_btnl {
  margin: 1rem;
}
.btn_audiol {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(41, 241, 231);
  color: rgb(231, 20, 238);
}


.form_btnm {
  margin: 1rem;
}
.btn_audiom {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(106, 109, 109);
  color: rgb(231, 20, 238);
}


.form_btnn {
  margin: 1rem;
}
.btn_audion {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(228, 143, 17);
  color: rgb(231, 20, 238);
}

.form_btnñ {
  margin: 1rem;
}
.btn_audioñ {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(145, 7, 236);
  color: rgb(231, 20, 238);
}

.form_btno {
  margin: 1rem;
}
.btn_audioo {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(69, 243, 35);
  color: rgb(231, 20, 238);
}


.form_btnp {
  margin: 1rem;
}
.btn_audiop {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(129, 139, 230);
  color: rgb(231, 20, 238);
}

.form_btnq {
  margin: 1rem;
}
.btn_audioq {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(15, 175, 82);
  color: rgb(231, 20, 238);
}

.form_btnr {
  margin: 1rem;
}
.btn_audior {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(13, 36, 247);
  color: rgb(231, 20, 238);
}

.form_btns {
  margin: 1rem;
}
.btn_audios {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(246, 250, 16);
  color: rgb(231, 20, 238);
}

.form_btnt {
  margin: 1rem;
}
.btn_audiot {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(5, 206, 38);
  color: rgb(231, 20, 238);
}

.form_btnu {
  margin: 1rem;
}
.btn_audiou {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(53, 235, 241);
  color: rgb(231, 20, 238);
}

.form_btnv {
  margin: 1rem;
}
.btn_audiov {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(253, 2, 2);
  color: rgb(231, 20, 238);
}

.form_btnw {
  margin: 1rem;
}
.btn_audiow {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(247, 149, 21);
  color: rgb(231, 20, 238);
}

.form_btnx {
  margin: 1rem;
}
.btn_audiox {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(144, 7, 156);
  color: rgb(231, 20, 238);
}

.form_btny {
  margin: 1rem;
}
.btn_audioy {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(173, 243, 42);
  color: rgb(231, 20, 238);
}

.form_btnz {
  margin: 1rem;
}
.btn_audioz {

  padding: 1rem;
  border-radius: 5rem;
  border: 1px salmon #f2f2;
  background: rgb(5, 5, 5);
  color: rgb(231, 20, 238);
}